# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual envs
venv/
.venv/

# Local secrets
.env
*.env.local

# Node
node_modules/
dist/

# Editors
.vscode/
.idea/
*.swp
.DS_Store

# OS
Thumbs.db
